@model List<MVC5SampleApp.Models.RoleModel>
@{
    ViewBag.Title = "Manage Roles";
}


<div class="row">

    <div class="col-md-6 col-lg-offset-2">
        <h2>Manage Roles</h2>

        <div class="well">
            <div class="text-center">

                @using (Html.BeginForm("Create", "Role", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="RoleName">Add new role</label>
                            @Html.TextBox("RoleName", null, new { @class = "form-control", placeholder = "name", max = 200, style = "width:400px;" })
                        </div>
                        <button type="submit" class="btn btn-default">Add Role</button>
                    </form>
                }
            </div>
        </div>


        @if (Model.Any())
        {
            
            <table class="table table-striped">
                <tr>
                    <th>Name
                    </th>
                               
                    <th>
                        <div class="text-right">
                            Actions
                        </div>
                    </th>
                </tr>

                @foreach (var roleModel in Model)
                {
                    <tr>
                        <td>@roleModel.Name</td>
                        <td>
                            <div class="text-right">
                                <a href="~/Role/Delete?roleName=@roleModel.Name" title="delete">
                                       
                                    <button type="button" class="btn btn-default btn-xs" aria-label="Left Align" data-toggle="tooltip" data-placement="right" title="delete">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
                                    </button>
                                </a>
                            </div>
                            
                            
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p>There are no roles in the system</p>
        }
    </div>
</div>

@section scripts {
   <script type="text/javascript">
    
       $(document).ready(function () {

           $('#RoleName').focus();
           $('[data-toggle="tooltip"]').tooltip();
           
    });
    
</script>

}
