
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h3>Manage Users</h3>
        <p>
            You can manage your Users from the manage users page:
        </p>
        @Html.ActionLink("Manage Users", "Index", "User", null, new { @class="btn btn-primary"})
    </div>
    <div class="col-md-4">
        <h3>Manage Roles</h3>
        <p>
            You can manage your Roles from the manage roles page:
        </p>
            @Html.ActionLink("Manage Roles", "Index", "Role", null, new { @class="btn btn-primary"})
    </div>
    <div class="col-md-4">
        <h3>Manage Notices</h3>
        <p>
            To update notices that appear on the home page, use the manage notices page:
        </p>
        @Html.ActionLink("Manage Notices", "Index", "Notice", null, new { @class="btn btn-primary"})
    </div>
    
    
</div>