

    h2 
    {
        padding-top: 20px;padding-bottom: 20px; margin-bottom: 40px;
    }

.wide-tbx {
    width: 2000px;
}

tr {
    /* todo convert to less file??*/
    border-bottom: 1px solid #ecf0f1;
}

th {
    /*background-color: #ecf0f1;*/
}