

    h2 
    {
        padding-top: 20px;padding-bottom: 20px; margin-bottom: 40px;
    }

.wide-tbx {
    width: 2000px;
}

tr {
    /* todo convert to less file??*/
    border-bottom: 1px solid #ecf0f1;
}

/** To stop the sliding in of the modal popups*/
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}